body {
	margin: 0;
	padding: 0;
	background-color: #FFFDB8; //#E3E7E8, #FFFDD0, #07408E, #070740, #0E0E7E;
}

.banner {
	text-align: center;
}

.banner img {
	width: 100%;
}

.title h1 {
	text-align: center;
}
	
.application-container{
	margin-left: 8px;
	margin-right:8px;
}	
	
.menu {
	float: left;
	padding: 8px;
	width: calc(20% - 16px);
}

.menu ul {
	margin-top:0;
}

.main-content {
	float: right;
	height: 100%;
	padding: 8px;
	width: calc(80% - 16px);
}

.footer {
	clear:both;
	text-align: center;
}

.dropdown-list-tab ul li {
	list-style-type: none;
}

form {
	background-color: gray;
	display: inline-block;
}

